
body {
  background-color: #f8f9fa;
}

h1, h2 {
  font-weight: 600;
}



.card {
  border-radius: 12px;
}



.table th, .table td {
  vertical-align: middle;
}



.btn-group .btn {
  margin: 0 2px;
}





@media (max-width: 576px) {
  .card.w-50 {
    width: 100% !important;   
  }

  table.table {
    font-size: 12px;          
  }

  table.table td, 
  table.table th {
    padding: 6px;             
  }

  .btn-group {
    display: flex;
    flex-direction: column;   
    gap: 5px;
  }

  .btn-group .btn {
    width: 100%;
  }
}



@media (min-width: 577px) and (max-width: 768px) {
  .card.w-50 {
    width: 75% !important;    
  }

  table.table {
    font-size: 14px;
  }
}



@media (min-width: 769px) and (max-width: 1200px) {
  .card.w-50 {
    width: 60% !important;
  }
}



@media (min-width: 1201px) {
  .card.w-50 {
    width: 50% !important;    
  }
}
